<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cast.ucl.sender" >

    <uses-sdk android:minSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:name="cast.ucl.sender.GlobalClass"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance">

        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".Selection"
            android:label="@string/title_activity_select"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cast.ucl.sender.MainActivity" />

        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".ChatActivity"
            android:label="@string/title_activity_chat"
            android:parentActivityName=".Selection"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cast.ucl.sender.Selection" />
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".LayoutSelector"
            android:label="@string/title_activity_layout"
            android:parentActivityName=".Selection" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cast.ucl.sender.Selection" />
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".ImageQueueEdit"
            android:label="@string/title_activity_queueing"
            android:parentActivityName=".Selection"
            android:launchMode="singleTask"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cast.ucl.sender.Selection" />
        </activity>

        <activity
            android:screenOrientation="landscape"
            android:name=".ImageSender"
            android:label="@string/title_activity_image"
            android:parentActivityName=".ImageQueueEdit"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SelectDate"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cast.ucl.sender.ImageQueueEdit" />
        </activity>

        <activity
            android:screenOrientation="landscape"
            android:name=".TextQueueEdit"
            android:label="@string/title_activity_queuetxt"
            android:parentActivityName=".Selection"
            android:launchMode="singleTask"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cast.ucl.sender.Selection" />
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".TextEdit"
            android:label="@string/title_activity_txtedit"
            android:parentActivityName=".TextQueueEdit"
            android:theme="@style/Theme.SelectDate"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cast.ucl.sender.TextQueueEdit" />
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".text"
            android:label="@string/title_activity_text"
            android:theme="@style/Theme.SelectDate"
            android:parentActivityName=".TextQueueEdit"
            android:launchMode="singleTask"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cast.ucl.sender.TextQueueEdit" />
        </activity>

        <activity
            android:screenOrientation="landscape"
            android:name=".QueueEdit"
            android:label="@string/title_activity_queue"
            android:parentActivityName=".Selection"
            android:launchMode="singleTask"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cast.ucl.sender.Selection" />
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".VideoSender"
            android:label="@string/title_activity_vidsend"
            android:theme="@style/Theme.SelectDate"
            android:parentActivityName=".QueueEdit"
            android:launchMode="singleTask"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cast.ucl.sender.QueueEdit" />
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".VideoEdit"
            android:label="@string/title_activity_vidsend"
            android:theme="@style/Theme.SelectDate"
            android:parentActivityName=".QueueEdit"
            android:launchMode="singleTask"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cast.ucl.sender.QueueEdit" />
        </activity>
            <activity
                android:screenOrientation="landscape"
                android:name=".SearchActivity"
                android:label="@string/title_activity_youtube"
                android:parentActivityName=".VideoSender"
                android:launchMode="singleTask">
                <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="cast.ucl.sender.VideoSender" />
            </activity>
    <activity android:name="DropboxDownload"
        android:screenOrientation="landscape"
        android:label="@string/title_activity_dropbox"
        android:parentActivityName=".ImageSender"
        android:launchMode="singleTask">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="cast.ucl.sender.ImageSender" />
    </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".ImageSelectorFB"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cast.ucl.sender.ImageSelectorFB" />
        </activity>

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <activity
            android:screenOrientation="landscape"
            android:name=".PhotoChooser"
            android:label="@string/title_activity_image"
            android:parentActivityName=".ImageSelectorFB"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cast.ucl.sender.PhotoChooser" />
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".AlbumViewer"
            android:label="@string/title_activity_album"
            android:parentActivityName=".PhotoChooser"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cast.ucl.sender.AlbumViewer" />
        </activity>
        <provider android:authorities="com.facebook.app.FacebookContentProvider954324571307004"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />
    <activity
        android:name="com.dropbox.client2.android.AuthActivity"
        android:configChanges="orientation|keyboard"
        android:launchMode="singleInstance"
        android:screenOrientation="landscape"
        android:theme="@android:style/Theme.Light.NoTitleBar"
        >
        <intent-filter>

            <!-- Change this to be db- followed by your app key -->
            <data android:scheme="db-bt00vgtqek79ilm" />

            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
</application>

</manifest>
